
body {
    background-color: black;
    color: limegreen;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h1 {
    margin-top: 20px;
}
.tradingview-widget-container {
    margin: 20px auto;
    width: 90%;
    height: 90vh; /* Agora a altura ocupa 90% da altura da tela */
}
.sinal {
    margin-top: 30px;
}
