
body {
  background-color: black;
  color: lime;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  margin-top: 20px;
}
p {
  font-size: 1.1em;
}
.tradingview-widget-container {
  height: 400px;
  max-width: 100%;
  margin: 20px auto;
}
.sinal {
  margin-top: 20px;
}
.meta {
  color: lime;
  font-weight: bold;
}
